.github-link {
  border-top: 1px solid #E2E2E2!important;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.github-link a {
  line-height: 16px;
  margin-left: 5px;
}

.github-icon {
  display: inline-block;
  margin-right: 5px;
}
